@@include('##/layouts/Head/index.html', { 'root': '<%= props.root %>', 'tag': 'GTM-XXXX' })
<body>
    @@include('##/layouts/Header/index.html', { 'tag': 'GTM-XXXX' })

    <div id="<%= props.name.toLowerCase() %>" class="<%= props.name.toLowerCase() %>">

    </div>

    @@include('##/layouts/Footer/index.html', { 'root': '<%= props.root %>' })
</body>
</html>
