<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=@@tag"
        height="0"
        width="0"
        style="display: none; visibility: hidden">
    </iframe>
</noscript>

<!-- [if lt IE 9]>
    <div class="container">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-12">
                <strong>Seu navegador está desatualizado.</strong>
                Para uma melhor visualização do site atualize-o ou escolha outro navegador.
                <a href="http://outdatedbrowser.com/pt-br"
                    target="_blank" rel="noopener noreferer">
                    Clique aqui
                </a>
            </div>
        </div>
    </div>
<![endif] -->

<header class="header">

</header>
